body {
  background: dodgerblue;
}

.collection-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.collection-container div {
  flex-basis: 30%;
  text-align: left;
  margin: 10px 0;
  padding-bottom: 12px;
  position: relative;
}

ul {
  list-style-type: none;
}
